{% extends 'base.html' %}

{% block content %}
<div class="col py-1">
    <div class="container ">
        <div class="row">
            <h3 class="text-center mt-3">{{mode}}</h3>
            <hr>
            <h6>Choose target:</h6>
            <form method="POST">
            {% csrf_token %}
            <div class="row">
                {% for device in devices %}
                <div class="col-xl-4">
                    <div class="card my-2 border-dark">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="device" value="{{ device.id }}"> {{device.vendor}} | {{device.IP_address}} - {{device.hostname}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h6 class="mt-3">Choose Terminal:</h6>
                <a class="my-2 btn btn-outline-success" data-bs-toggle="collapse" href="#Collapse1" role="button" aria-expanded="false">Mikrotik Command</a>
                <button class="my-2 btn btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#Collapse2" aria-expanded="false">Cisco Command</button>
                    <div class="col">
                        <div class="collapse multi-collapse" id="Collapse1">
                            <textarea class="form-control my-2 border-success" rows="4" name="mikrotik_cmd">{{ mikrotik_verify }}</textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="collapse multi-collapse" id="Collapse2">
                            <textarea class="form-control my-2 border-danger" rows="4" name="cisco_cmd">{{ cisco_verify }}</textarea>
                        </div>
                    </div>
                    <hr>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}