{% extends "base.html" %}
{% block content %}
<div class="col py-1">
    <div class="container">
        <div class="row">
            <h3 class="text-center mt-3">Device List</h3>
            <hr>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="responsive-table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">IP Address</th>
                        <th scope="col">Hostname</th>
                        <th scope="col">Device Type</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for device in all_devices %}
                    <tr>
                        <td>{{ device.IP_address }}</td>
                        <td>{{ device.hostname }}</td>
                        <td>{{ device.device_type }}</td>
                        <td>{{ device.vendor }}</td>
                        <td>
                            <a href="/admin/NetworkManager/device/{{device.id}}/change" class="d-none d-sm-inline-block btn btn-sm btn-success"><i class="bi bi-pencil-square text-white"></i></a>
                            <a href="/admin/NetworkManager/device/{{device.id}}/delete" class="d-none d-sm-inline-block btn btn-sm btn-danger"><i class="bi bi-trash text-white"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}