{% extends 'base.html' %}

{% block content %}
<div class="col py-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="card bg-success shadow h-10 py-2 my-4">
                    <a href="" style="text-decoration:none;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="text-xs text-light text-uppercase mb-1">Total Device
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-light">{{ total_devices }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card bg-info shadow h-10 py-2 my-4">
                    <a href="" style="text-decoration:none;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="text-xs text-light text-uppercase mb-1">Total Vendor
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-light"> (Vendor)</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card bg-warning shadow h-10 py-2 my-4">
                    <a href="" style="text-decoration:none;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="text-xs text-light text-uppercase mb-1">Total Log
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-light"> (Log)</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center mt-3">Log List</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">#</th>
                            <th scope="col">Target Device</th>
                            <th scope="col">Action</th>
                            <th scope="col">Status</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th scope="row">1</th>
                            <td>@</td>
                            <td>@</td>
                            <td>@</td>
                            <td>@</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>@</td>
                            <td>@</td>
                            <td>@</td>
                            <td>@</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>@</td>
                            <td>@</td>
                            <td>@</td>
                            <td>@</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}