{% extends 'base.html' %}

{% block content %}
<div class="col py-1">
    <div class="container ">
        <div class="row">
            <h3 class="text-center mt-3">Verify Configuration</h3>
            <hr>
            <h6 class="mb-3">Select Target:</h6>
            <form method="POST">
            {% csrf_token %}
            <div class="row">
                {% for device in devices %}
                <div class="col-auto">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text text-capitalize">
                                <input class="form-check-input" type="checkbox" name="device" value="{{ device.id }}">&nbsp;{{device.vendor}} | {{device.IP_address}} - {{device.hostname}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h6 class="mb-3">Verify Mikrotik:</h6>
                    <select class="form-control form-select border-success" name="mikrotik_verify_select">
                        <option selected></option>
                        <option value="export">Export</option>
                        <option value="interface print">Interface</option>
                        <option value="ip address print">IP Address</option>
                        <option value="ip proxy print">IP Proxy</option>
                        <option value="ip dns print">IP DNS</option>
                        <option value="log print">Log</option>
                        <option value="file print">File</option>
                        <option value="user print">User</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <h6 class="mb-3">Verify Cisco:</h6>
                    <select class="form-control form-select border-danger" name="cisco_verify_select">
                        <option selected></option>
                        <option value="show running-config">Running Configuration</option>
                        <option value="show startup-config">Startup Configuration</option>
                        <option value="show interface">Interface</option>
                        <option value="show ip interface brief">IP Interface Brief</option>
                        <option value="show ip route">IP Route</option>
                        <option value="show ipv6 route">IPv6 Route</option>
                        <option value="show version">Version</option>
                    </select>
                </div>
            </div>
            <div class="collapse" id="terminal">
                <h6 class="my-3">Select Terminal:</h6>
                <a class="mb-3 btn btn-outline-success" data-bs-toggle="collapse" href="#Mikrotik" role="button" aria-expanded="false">Mikrotik Command</a>
                <button class="mb-3 btn btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#Cisco" aria-expanded="false">Cisco Command</button>
                <div class="col">
                    <div class="collapse multi-collapse" id="Mikrotik">
                        <textarea class="form-control mb-2 border-success" rows="3" name="mikrotik_verify_cmd"></textarea>
                    </div>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="Cisco">
                        <textarea class="form-control mb-2 border-danger" rows="3" name="cisco_verify_cmd"></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#terminal" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="bi bi-terminal text-white"></i>
            </a>
                <button type="submit" class="btn btn-primary">Verify</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}